.container {
  width: 100%;
  overflow: scroll;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  gap: 30px;
  box-sizing: border-box;
  @media (max-width: 1247px) {
    margin-top: 40px;
    flex-direction: column;
    padding-inline: 24px;
  }
  @media (min-width: 1248px) {
    margin-top: 80px;
    flex-direction: row;
  }
  padding-bottom: calc(var(--bottomBarHeight) * 1.5);
}

.splited {
  display: flex;
  flex-direction: column;
  width: 380px;
  gap: 24px;
}
