.card {
  padding: 32px;
  border-radius: 20px;
  border: 1px;
  letter-spacing: -0.01em;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: linear-gradient(137.99deg, #000000 1.93%, #262626 100%);
  border: 1px solid rgba(38, 38, 38, 1);

  @media (max-width: 1247px) {
    font-family: Pretendard;
    font-size: 16px;
    line-height: 26px;
  }
}
